<div class="form-group mb-3">
    <%= label_tag :m, "m:" %><br>
    <%= number_field_tag :m, nil, class: "form-control", required: true %>
</div>

<div class="form-group mb-3">
    <%= label_tag :b, "b:" %><br>
    <%= number_field_tag :b, nil, class: "form-control", required: true %>
</div>