<div class="form-group mb-3">
    <%= label_tag :key, "Key:" %><br>
    <%= text_field_tag :key, nil, class: "form-control", required: true %>
</div>

<div id="generated-matrix" class="mb-3" style="display: none;">
    <p>Generated Matrix: </p>
    <div class="d-flex justify-content-center">
        <table class="table table-bordered" style="width: 50%;">
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('form');

        form.removeEventListener('submit', (event) => {
            submit(form, event);
        });

        form.addEventListener('submit', (event) => {
            submit(form, event, (result) => {
                const generatedMatrix = document.getElementById('generated-matrix');
                const tableBody = generatedMatrix.querySelector('tbody');
                tableBody.innerHTML = '';
                for (let i = 0; i < result.other.gen_matrix.length; i++) {
                    const row = document.createElement('tr');
                    for (let j = 0; j < result.other.gen_matrix[i].length; j++) {
                        const cell = document.createElement('td');
                        cell.textContent = result.other.gen_matrix[i][j];
                        row.appendChild(cell);
                    }
                    tableBody.appendChild(row);
                }
                generatedMatrix.style.display = 'block';
            });
        });
    });
</script>